*{ 
    margin:0;
    padding:0;
}
.container{
    width:80%;
    margin:20px 10% 40px 10%;
  }
  p{
    text-align: justify;
  }
.back{
 color:dodgerblue;
 font-weight: bold;
 font-size:23px;
 padding:10px 10px;
}

  button{
    background: dodgerblue;
    color:white;
    padding:10px 50px;
    border: 1px solid dodgerblue;
    border-radius: 30px;
    margin: 30px 0;
  }


.home{
    color: white;
    text-align: left;
    text-decoration: none;
    font-size: 17px;
    padding: 4px;
}

.badge{
    border: 1px solid #00ff00;
    border-radius: 50%;
    background: #00ff00;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px 0 0;
    padding: 8px 12px;
}

a{
    text-decoration: none;
}

.footer-menu{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 60px;
    z-index: 999;
    position: fixed;
    padding:0 5px;
    bottom: 0;
    left:0;
    background-color: rgb(255, 255, 255);
    box-shadow:0 -4px 5px rgba(177, 177, 177, 0.5);
}

.link{
  display: flex;
  flex-direction:column;
  text-align: center;
  color:rgb(160, 159, 159);
  text-decoration: none;
}

.link>span{
  font-size:12px;
}

.link-active{
  display: flex;
  flex-direction:column;
  text-align: center;
  color:rgb(30, 48, 80);
}

.icon-menu{
  font-size:22px;
}

.note{
    position: relative;
    top: 0;
    padding: 1px 5px;
    border: 1px solid rgb(235, 8, 95);
    border-radius:30px ;
    color: white;
    left:1%;
    background-color: rgb(235, 8, 95);
}

@media screen and (min-width:660px) {
  .footer-menu{
    display:none;
  }
}