.modal-fade{
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    animation-name: opacity;
    animation-duration: 1s;
    animation-timing-function: ease;
    display: none;
}

.modal-dialog{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 3;
    width: 450px;
    min-height: 200px;  
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 0 2px 8px 4px rgba(87, 87, 87, 0.37); 
    animation-name: fade-top;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    
    
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(37, 37, 37);
    
}
.btn-link{
    padding: 10px 25px;
    color:rgb(255, 255, 255);
    background: #0000ff;
    border: 1px solid #0000ff;
    border-radius: 5px;
    cursor: pointer;
    
}

@keyframes opacity{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes fade-top{
    0%{
        top:-30%;
        display: none;
    }

    100%{
        top:30%;
        display: block;
        opacity: 1;

    }
}

.fade{
    display: none;
}

@keyframes fade{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}