*{
    margin: 0;
    padding: 0;
}

input[type='range'] {
    overflow: hidden;
    width: 80px;
    appearance: none;
    background-color: #eeeeee;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #0795f3;
    box-shadow: -80px 0 0 80px #0d8add;
  }